/* ================================= */
/* basic setup */
/* ================================= */
:root {
	--color-primary: #f67c92;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	font-family: sans-serif;
	font-size: 1.6rem;
	/* letter-spacing: .3rem; */
	line-height: 1.6;
	overflow-x: hidden;
}

/* ================================= */
/* reasoble components */
/* ================================= */

.row{
	max-width: 120rem;
	margin: 0 auto;
}

h1 {
	font-size: 3.4rem;
	text-transform: capitalize;
	font-weight: 500;
	line-height: 1.4;
}

h2 {
	font-size: 3.4rem;
	text-transform: capitalize;
	font-weight: 500;
	line-height: 1.4;
}

p {
	font-size: 1.5rem;
	line-height: 1.7;
	color: #777;
}

.btn {
	padding: 1.8rem 4rem;
	background-color: transparent;
	border: 2px solid var(--color-primary);
	cursor: pointer;
	font-weight: 400;
	text-transform: capitalize;
	font-size: 1.6rem;
	color: #1b1b1b;
	border-radius: 0.3rem;
	outline: none;
	transition: all 0.5s;
}

.btn:hover {
	background-color: var(--color-primary);
	color: #fff;
}

/* section {
	padding: 5rem 0;
} */

/* ================================= */
/* header */
/* ================================= */

.header {
	height: 100vh;
	background-image: url(../img/background.png);
	background-size: cover;
	background-position: center;
	position: relative;
}

.logo {
	margin-top: 3rem;
	width: 10rem;
}

.header-text {
	max-width: 50rem;
	margin-top: 8rem;
	/* position: absolute;
	top: 50%;
	left: 38%;
	transform: translate(-50%,-50%); */
}

.header-text h1 {
	font-size: 3.4rem;
}

.square {
	height: 1.2rem;
	width: 1.2rem;
	background-color: var(--color-primary);
	display: inline-block;
	margin: 1.5rem 0;
}

.header-text .btn {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.line {
	display: grid;
	grid-template-rows: repeat(3, max-content);
	grid-row-gap: 8px;
	margin: 2rem 0;
}

.line-1 {
	height: 1.5rem;
	width: 1.5rem;
	display: block;
	background-color: var(--color-primary);
	/* margin-bottom: 1rem; */
}

.line-2 {
	height: 0.1rem;
	width: 8rem;
	display: block;
	background-color: var(--color-primary);
}

.line-3 {
	height: 0.1rem;
	width: 6rem;
	display: block;
	background-color: var(--color-primary);
}



/* ======================= */
/* navigation */
/* ======================= */

.nav {
	height: 100%;
	width: 0;
	position: fixed;
	top: 0;
	right: -28rem;
	background-color: var(--color-primary);
	display: flex;
	justify-content: center;
	transition: all 0.5s;
}

.nav-btn {
	border: none;
	outline: none;
	height: 2px;
	width: 3rem;
	background-color: #fff;
	display: block;
}

.side-nav {
	list-style-type: none;
	padding-left: 0;
	margin-top: 5rem;
}

.side-nav ul {
	/* margin-top: 3rem; */
}

.side-nav li {
	margin: 1.5rem 0;
	text-align: center;
}

.side-nav li a:link,
.side-nav li a:visited {
	text-decoration: none;
	font-size: 1.7rem;
	text-transform: uppercase;
	color: #fff;
	font-weight: 500;
	display: block;
	padding: 2rem 4rem;
	background-image: linear-gradient(110deg,#fff 50%,transparent 50%);
	background-position: 100%;
	background-size: 220%;
	transition: all .5s;
}

.side-nav li a:hover,
.side-nav li a:active{
	background-position: 0;
	color: var(--color-primary);
	transform: translateX(-10px);
}

.navigation input {
	display: none;
}

.navigation input:checked ~ .nav {
	right: 0;
	width: 25%;
}

.navigation label {
	position: fixed;
	top: 2rem;
	right: 3rem;
	cursor: pointer;
	z-index: 2;
}

.navigation img {
	width: 5rem;
	margin-top: 2.5rem;
}

/* ======================= */
/* about */
/* ======================= */

.about {
	padding: 10rem 0;
	flex-wrap: wrap;
	display: flex;
	align-items: center;
}

.left-col {
	flex-basis: 50%;
}

.left-col img {
	width: 100%;
}

.right-col {
	flex-basis: 50%;
	text-align: right;
}

.about-text {
	max-width: 50rem;
	/* margin-right: 10rem; */
	display: inline-block;
}

.about-line {
	justify-content: end;
	justify-items: end;
	margin: 1.5rem 0;
}

.about-text h2 {
	margin: 5rem 0 1rem;
	font-size: 2.8rem;
	font-style: italic;
}

.about-text p {
	font-size: 2rem;
	font-style: italic;
	color: #797979;
}

.about-text h3 {
	color: #797979;
	margin-top: 2rem;
}

/* ======================= */
/* feature */
/* ======================= */

.features {
	/* width: 80%; */
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
	grid-gap: 3rem 6rem;
	align-items: center;
	text-align: center;
}

.feature-col {
	/* width: 70%;
    margin: 0 auto; */
	padding: 2rem 5rem;
}

.feature-img {
	width: 100px;
	margin-bottom: 2rem;
}

.feature-heading {
	margin-bottom: 2rem;
}

.feature-text {
}

.feature-btn {
	display: grid;
	grid-template-rows: max-content max-content;
	grid-row-gap: 2rem;
	justify-self: center;
}

.feature-btn .btn {
	grid-row: 2 / 3;
	justify-self: start;
}

/* ======================= */
/* courses */
/* ======================= */

.courses-section {
	/* padding: 0 10rem; */
	margin: 8rem 0;
}

.course {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 6rem;
}

.course__content {
	width: 70%;
}

.course__content h2 {
	font-size: 3.2rem;
	margin-bottom: 1rem;
}

.course__content p {
	font-size: 1.6rem;
	margin-bottom: 1.5rem;
}

.course__content .line {
	margin-bottom: 1.5rem;
}

.course__picture {
	width: 60rem;
}

.course__picture img {
	width: 100%;
}

.offer-section {
	padding: 8rem 0;
}

/* ======================= */
/* offer */
/* ======================= */

.offer {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 6rem;
	align-items: center;
}

.offer .left-col {
	width: 100%;
}

.offer .left-col img {
	width: 100%;
}

.offer .right-col {
	/* padding: 0 8rem; */
}

.offer .right-col h1 {
}

.offer-text {
}

.offer-text p {
}

/* ======================= */
/* contact */
/* ======================= */

.contact-section {
	padding: 8rem 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 6rem;
	align-items: center;
}

.left-side {
	width: 100%;
}

.left-side h1 {
	font-weight: 300;
}

.left-side .form {
	margin: 4rem 0;
}

.form .input {
	width: 100%;
	background-color: transparent;
	border: 2px solid #f67c92b2;
	margin: 0.5rem 0;
	padding: 1.3rem;
	outline: none;
	color: #0000008e;
	font-size: 1.9rem;
}

.form input {
	color: #0000008e;
	font-size: 1.9rem;
}

.form .buttons {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 1rem;
}

.form .input::placeholder {
	text-transform: capitalize;
}

.right-side {
}

.right-side img {
	width: 100%;
}

.btn-signup,
.btn-trial {
	border: 2px solid #f67c92b2;
	outline: none;
	background-color: #fff;
}

/* ======================= */
/* footer */
/* ======================= */

.footer {
	padding: 8rem 0;
	border-top: 1px solid var(--color-primary);
	display: grid;
	grid-template-columns: max-content 1fr max-content;
	align-items: center;
	grid-gap: 4rem;
}

.footer-nav {
	background-color: #fff;
}

.footer-nav ul {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1rem;
}

.footer-nav li {
	padding: 0 1.5rem;
}

.footer-nav h4 {
	color: #f18b9e;
	font-weight: 400;
	font-size: 1.8rem;
	text-transform: capitalize;
	margin-bottom: 1.5rem;
}

.footer-nav p {
	font-size: 1.6rem;
	text-transform: capitalize;
	margin-bottom: 0.5rem;
}

.copyright {
	padding: 1rem;
}

.copyright .gmail {
	font-size: 1.4rem;
	font-weight: 400;
}

.copyright p {
	font-size: 1.6rem;
}

.footer-logo-box {
	/* background-color: blue; */
}

.footer-logo {
	width: 10rem;
	margin-bottom: 2rem;
}

.footer-logo img {
	width: 100%;
	height: 100%;
}